.content {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #171717;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}
  
.content:hover {
    background-color: #2e2c2c;
    color: white;
}

@media (max-width: 550px) {
    .content {
        width: 46%;
    }
}

.poster {
    border-radius: 10px;
}
  
.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 10px;
    color: rgb(206, 206, 206);
}

.type {
    text-transform: uppercase;
    font-size: 10px;
}

.year {
    font-size: 10px; 
}
  